@charset "UTF-8";

body {
    background-color: rgb(100, 100, 199);
    font: 1em Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    margin: auto;
    padding: 15px;
    width: 500px;
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
}

a {
    color: white;
    font-style: italic;
    text-decoration: none;
}